#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top,
  .bottom {
    text-align: center;
  }

  .top {
    margin-bottom: 20px;
    h1 {
      font-size: 120px;
    }
    h3 {
      font-size: 30px;
    }
  }

  .bottom {
    color: $disableColor;
  }
}
