$dark: #1c1c1d;
$fontColorWhite: #fff;
$mainColor: #3099d1;
$bgColorGrey: #f4f5f7;
$lightMainColor: #5d859a;
$errorColor: #ff4e50;
$disableColor: #dddddd;

// responsive
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
