@import "./constants/variables";
@import "./constants/mixin";
@import "./components/PrePadModal.scss";
@import "./components/MainPage.scss";
@import "./components/PrePadNavigation.scss";
@import "./components/PrePadMainTitle.scss";
@import "./components/PrePadTable.scss";
@import "./components/PrePadButton.scss";
@import "./components/PrePadInputField.scss";
@import "./components/PageNotFound.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: lato, sans-serif;
}

.App {
  background-color: $dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  #main-section,
  #error-page {
    height: 500px;
    position: relative;
  }
}

@include desktop-tablet {
  #main-section {
    width: 680px;
  }
}

@include mobile {
  #main-section {
    width: 380px;
  }
}
